{% extends 'base.html' %}

{% block content %}
  <div class="mt-2">
    <h2>Welcome {{ request.user.first_name }} {{ request.user.last_name }}</h2>
    <br />
    <h3>Customer's List</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">CREDIT BALANCE</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customers %}
            <tr class="align-middle">
              <td>{{ customer.id }}</td>
              <td>{{ customer.first_name }} {{ customer.last_name }}</td>
              <td>{{ customer.credit_balance }}</td>
              <td><a href="#" class="btn btn-primary btn-sm">Manage</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock content %}