{% extends 'base.html' %}

{% block css %}
<style>
  tr {
    position: relative;
  }

  tr.strikeout td:before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 2px solid #111;
    width: 100%;
  }
</style>
{% endblock css %}

{% block content %}
<div class="mt-2">
  <h2>Manage Customer</h2>

  <div class="card my-5">
    <div class="card-body">
      <div class="d-flex gap-2">
        <h5 class="card-title">
          {{ customer.first_name }} {{ customer.last_name }}
        </h5>
        <a href="{% url 'customer-edit' customer.pk %}"
          ><i class="bi-pencil-square"></i
        ></a>
      </div>
      <a
        class="btn btn-primary btn-sm"
        href="{% url 'transaction-create' customer.id %}"
        >Add transaction</a
      >
      <a
        class="btn btn-warning btn-sm"
        href="{% url 'customer-payment' customer.id %}"
        >Make Payment</a
      >
    </div>
    <div class="card-footer text-body-secondary">
      Credit Balance - {{ customer.credit_balance }}
    </div>
  </div>

  <h3>Transaction History</h3>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">TIME</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">DESCRIPTION</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr class="align-middle {% if transaction.isPaid %}strikeout{% endif %}">
        <td>{{ transaction.timestamp|date:"F d, Y" }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
